
/*
*Welcome to the CC Score Card/FM Tools css
*/

/************
    Header
*************/

header {
    display: flex;
    flex-wrap: wrap;
}

#headerArea {
    padding: 25px 25px 5px 25px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
}
    #headerArea img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: left;
        max-width: 100px;
        min-width: 85px;
    }
#headerTextContainer {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

#headerText, #headerDate {
    margin-bottom: 0px;
}

#headerSubText, #headerDate {
    margin-top: 0px;
}
.charts {
    max-width: 400px;
    padding: 25px;
}

.charts h2{
    font-style:italic;
    text-align:center;
}

/* ====================== Location Filtering ====================== */
.filter-options {
    width: 100%;
    background-color: darkblue;
    align-items: center;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .filter-options div {
        font-family: Arial,sans-serif;
        font-size: 16pt;
        letter-spacing: 0;
        margin: 10px;
        padding: 0 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 390px;
        text-align: -webkit-center;
    }

        .filter-options div label {
            color: white;
            margin: 0 10px 0 10px;
            width: 175px;
        }

    .filter-options select {
        background-color: white;
        width: 160px;
        border: 1px solid #fff;
        font-size: 16px;
    }

/* ====================== Footer ====================== */
footer {
    text-align:center;
}